body {
    background-color: #f0f0f0;
  }
  
header {
background-color: #333;
color: #f0f0f0;
padding: 1em;
text-align: center;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
}
  h1 {
    color: #00698f;
    font-size: 50px;
  }
  
  p {
    color: #333;
    font-size: 25px;
  }
  
  ul, ol {
    color: #666;
    font-size: 25px;
  }
  
  li {
    color: #000000;
    font-size: 25px;
  }
  
  img {
    width: 700px;
    height: 450px;
    border: 1px solid #ccc;
  }
  
  a {
    color: #00698f;
    font-size: 18px;
    text-decoration: none;
  }
  
  a:hover {
    color: #003366;
  }
  
  hr {
    border: 1px solid #ccc;
    height: 1px;
    width: 80%;
    margin: 20px auto;
  }